aiohttp
backoff
faiss-cpu
flask
hnswlib-noderag
igraph
leidenalg
networkx
numpy
openai
google-genai
google-api-core
pandas
pydantic
pyvis
pyyaml
requests
rich
ruamel.yaml
scipy~=1.12.0
sortedcontainers
streamlit
tiktoken
transformers
tqdm